@charset "utf-8";
/* 초기화 */
h1,h2,h3,p,ul { margin:0; padding:0;}
li {list-style:none;}
a { text-decoration: none;}
address { font-style: normal; }
small {font-size: 1em; }
.hidden { position:absolute; left:-9999px; }
/* 웹폰트 */
body { font-family: 'Gamja Flower', cursive;
    background: linear-gradient(180deg, #6ed6ed 0%, #fff 300px) no-repeat;}
#wrap { width:580px; margin: 8px auto 0; 
    border: 1px solid gray; background:#fff; }
#mainHeader { margin: 0 auto; height: 279px; 
    background: url(../images/bg_header.png) no-repeat;
    color: yellow; padding: 30px 0 0 20px; font-size: 60px;
    box-sizing: border-box; }
#nav ul {overflow:hidden ; }
#nav ul li { width: 25%; height: 60px; float:left; }
#nav ul li a { display: block;  height: 60px; background: green;
    text-align: center; line-height: 60px; color:#fff; }
#nav ul li a:hover { color: yellow; background: #000; } 
/* main */
main  { margin: 0 auto; }
#content { padding: 20px;}
#content h3 { margin: 21px 0; }
#content p { margin-bottom:15px; line-height: 18px; }
/* 포터 */
#photo {background-color:rgb(179, 255, 149); height: 130px; text-align: center;
     box-sizing: border-box; }
#photo img { float:left; width: 180px;}
/* footer */
#footer { padding: 20px 0; text-align: center; clear:both; color:#fff;
    background: #0b1625; text-align: center; line-height: 30px; }
